@charset "utf-8";






/**/
html,
body {
    width: 100%;
    height: 100%;
    font-family: "Merriweather", "Noto Sans KR", sans-serif;
    background: #f9f9f9;
}


main {
    width: 100%;
    height: 100%;
    position: relative;
}

main video {
    position: absolute;
    top: -180px;
    left: 0;


    width: 100%;
    height: 100%;
    object-fit: cover;
}

main a {
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

main a:hover {
    text-decoration: underline #f9f9f9;
    color: #f9f9f9;
}


/***/
article {
    position: relative;
}

.part1 {
    
    text-align: center;

    overflow: hidden;
}


.part1-txt {
    padding: 20px 10px;
    margin-bottom: 30px;
}

.part1 .article-tit {
}

.part1>p {}

/****/
part1-slide {
    width: 100%;

    overflow: hidden;

    position: relative;
}

.part1 ul {
    
    width: 400%;
    margin-bottom: 80px;


    position: relative;
    left: -50%;

    
}

.part1 ul li {
    /* outline: 2px solid pink; */
    width: 16.66%;
    float: left;
}

.part1 ul li a {
    width: 100%;
    /* background-color: yellow; */
}

.part1 ul li a img {
    width: 90%;
    display: inline-block;
    margin-bottom: 20px;
}

.part1 ul li a p {
    line-height: 2;
    font-size: 24px;
    font-weight: bold;
}

.part1 ul li a p:last-child {
    font-size: 100%;
    font-weight: normal;
}

.part1 .btn {
    /* outline: 2px solid pink; */
    width: 70%;
    margin: 0 auto;

    clear: both;

    position: absolute;
    top: 60%;
    left: 50%;

    transform: translate(-50%, -60%);

   /*  background-color: blue; */
    

    
}

 .part1 .btn>a {
    width: 50px;
    height: 50px;
    
    



    
    
 }

 .part1 .btn .prevBtn{
    background: url(../img/left-arrow.png) no-repeat;
    float: left;
 }

 .part1 .btn .nextBtn{
    background: url(../img/right-arrow.png) no-repeat;
    float: right;
 }




/**************************************************/

.line {
    color:#ccc;
}

.line-circle {
    width: 30px;
    height: 30px;
    background-color: #81d8d0;
    border-radius: 50px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 100px;
}


/****************************************************************/
.parent-gift {
    text-align: center;
}

.parent-gift .article-tit {
    font-size: 20px;
    font-weight: normal;
}

.parent-gift video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.txt-box {}


/**/
.part2 {
    overflow: hidden;
    margin-bottom: 100px;
}

.part2 .part2-slide {
    width: 100%;
    overflow:auto;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.part2 .part2-slide::-webkit-scrollbar {
    width: 2px;

}
.part2 .part2-slide::-webkit-scrollbar-track {
    width: 300px;
}

.part2 .part2-slide::-webkit-scrollbar-thumb {
    background-color: #81d8d0;
    border-radius: 10px;
    height: 95%;
  }

  .part2 .part2-slide::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 10px;
  }

.part2 .part2-slide ul {
    width: 300%;
}
.part2 .part2-slide ul li {
    float:left;
    width: 8.33%;
}

.part2 .part2-slide ul li a {
    text-align: center;
}
.part2 .part2-slide ul li a img {
    display: inline-block;
    width: 70%;
}








/**/








/* .scrollBar {
    width: 60%;
    margin: 0 auto;
    height: 10px;
    background-color: #ccc;
}

.bar {
    width: 20%;
    height: 100%;
    background-color: #81d8d0;
} */



/***/

.category {
    text-align: center;
}
.category .article-tit {
    margin-bottom: 60px;
    outline: 2px solid red;
}

.category ul {
    width: 90%;
    margin: 0 auto;
}
.category ul li {
    float: left;
    width: 16.66%;
}
.category ul li a {}
.category ul li a img {
    display: inline-block;
    width: 80%;

}


/****/

.evt {
    clear: both;
}
.evt>div {
    float: left;
    width: 50%;
}